.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.timer {
  position: fixed;
  top: 0.75em;
  right: 2em;
  padding: 0.5em;
  border-radius: 4px;
  background: white;
  width: 4em;
  font-size: 1.25em;
  font-weight: bold;
}
